/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* System font stack*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }


* {
    box-sizing: border-box;
}

.container {
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Karla */
.karla {

}

/* Jhony */
.jhony {

}

/* Kaii */
.kai {

}

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.kai {
  font-size: 0.785rem;
  font-family: "PT Serif", serif;
  --grey: rgb(233, 227, 227);
  width:100%;
}

.part_3_1 {
  margin-bottom: 2em;
}

.h1_3_1 {
  color: #f7689e;
  font-size: 0.8rem;
  text-align: center;
}
.h2_3_1 {
  font-weight: normal;
  text-align: center;
  padding: 0.2rem 0rem 3.5rem 0rem;
}


.part_3_2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
.div3_1 {
  position: relative;
  border: 0.1px solid var(--grey);
  max-width: 33%;
  margin-right: 1.4rem;
}
.div3_1:hover {
  border: 1px solid #f7689e;
  color: #f7689e;
}
.div3_1:first-of-type {
  margin-left: 1.4rem;
}
.part_3_2 > .div3_1 > img {
  width: 4rem;
}
.icon1 {
  position: absolute;
  top: -65px;
  left: 30%;
}
.h3_3_1 {
  text-align: center;
  font-weight: normal;
  padding: 2.4rem 0rem 0.8rem 0rem;
  font-size: 1.4rem;
}
.p3_1 {
  padding: 0rem 2rem 1rem 2rem;
  font-size: 0.8rem;
  color: rgb(158, 156, 156);
  text-align: center;
}
.div3_2 {
  background-color: #f7f5fa;
  margin-top: 4rem;
  text-align: center;
  display: flex;
  width: 100%;
  height: 23%;
}
.bg1 {

  height: 30rem;
  margin-left: -16.8rem;
}
.bg2 {

  height: 25rem;
  margin-right: -9rem;
  margin-top: -4rem;
}
.icon4 {
  width: 2.4rem;
  margin: 3rem 0rem 1rem;
}
.p3_2 {
  font-size: 1.2rem;
  color: rgb(110, 109, 109);
  padding-bottom: 1rem;
  min-width: 20rem;
}
.p3_3 {
  font-size: 1rem;
  color: rgb(68, 67, 67);
  padding-bottom: 0.8rem;
}
.p3_4 {
  font-size: 0.6rem;
  color: rgb(136, 133, 133);
}
.white {
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.white img {
  width: 100%;
  height: auto;
}
.button3_1 {
  float: left;
  position: relative;
  top: 106px;
  left: -20px;
  background-color: white;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 50%;
  color: rgb(116, 113, 113);
}
.button3_1:hover {
  border: 1px solid var(--grey);
  color: #f7689e;
}
.button3_2 {
  float: right;
  position: relative;
  top: 106px;
  right: -75px;
  background-color: white;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 50%;
  color: rgb(116, 113, 113);
}
.button3_2:hover {
  border: 1px solid var(--grey);
  color: #f7689e;
}


/* BEN */
.ben {
    width: 80%;
    padding: 1em 0;
}

.upper {
    display: flex;
    flex-wrap: wrap;
}

.ben span {
    color: magenta;
    font-size: .7em;
}

.ben button {
    background-color: white;
    border: 2px solid magenta;
    border-radius: 2em;
    padding: .5em .8em;
    margin-left: auto;
}

.ben button:active{
    transform: translateY(4px);
}

.upper h2 {
    width: 100%;
}

.lower {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.card {
    padding-bottom: .5em;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    box-shadow: 0 3px 8px lightgray;
}

img {
    width: 100%;
    height: auto;
}

.social {
    margin-top: .6em;
    display: flex;
    justify-content: center;
    gap: .6em;
}

.fa-brands{
    color: lightgray;
}

/* VIKTOR */
.viktor {

}

.section-vic {
  display: flex;
  flex-wrap: wrap;
}
.section-vic img {
  width: 100%;
  height: auto;
}

.victor a {
  margin: 0.4em;
  color: black;
}

.photo {
  width: 20%;
  padding: 0.2em;
}

.victor .logo {
  display: flex;
  max-width: 70%;
  margin: 0em auto;
}

.logo-img {
  width: 25%;
}

.logo-img > img {
  max-width: 160px;
  height: auto;
}

.p-vic {
  margin: 0em 3em 0em 2em;
  color: black;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-size: .5em;
  display: flex;
  align-items: center;
}

.victor .icons {
  font-size: 1em;
  margin: 0em 1em;
  color: black;
  display: flex;
  align-items: center;
}

/* Mario */
.mario {

}




